<table class="table table-hover border bg-white" *ngIf="cartListing.length > 0">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th style="width:10%;">Quantity</th>
      <th>Subtotal</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartListing; let i = index">
      <td>
        <div class="row">
          <div class="col-lg-2 Product-img">
            <img
              src="{{ item.imageUrl }}"
              alt="{{ item.title }}"
              class="img-responsive"
            />
          </div>
          <div class="col-lg-10">
            <h4 class="nomargin">{{ item.title }}</h4>
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
      </td>
      <td>{{ item.price }}</td>
      <td data-th="Quantity">
        <input
          type="number"
          class="form-control text-center"
          value="{{ item.qty }}"
        />
      </td>
      <td>{{ item.qty * item.price }}</td>
      <td class="actions" data-th="" style="width:10%;">
        <button class="btn btn-danger btn-sm" (click)="removeItem(item)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="2" class="hidden-xs"></td>
      <td class="hidden-xs text-center" style="width:10%;">
        <strong>Total : {{ calcTotal() | currency: "INR":"symbol" }}</strong>
      </td>
      <td>
        <a href="#" class="btn btn-success btn-block"
          >Checkout <i class="fa fa-angle-right"></i
        ></a>
      </td>
    </tr>
  </tfoot>
</table>
